.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#calc {
    border: 10px solid lightgray;
    width: 300px;
    height: 600px;
    background-color: azure;
}

#display {
    margin: 10px;
    width: 90%;
    height: 50px;
    font-size: 30px;
}

#btn-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 40px;
    background-color: grey;
}
